<h1>About Us</h1>
<p>In this world, everything can be happy. Very easy to work these to death. We don't really know where this goes - and I'm not sure we really care. Of course he's a happy little stone, cause we don't have any other kind. How to paint. That's easy. What to paint. That's much harder. We can fix anything. Even trees need a friend. We all need friends.</p>

<p>And right there you got an almighty cloud. Pretend you're water. Just floating without any effort. Having a good day. We'll put some happy little leaves here and there. Maybe there's a happy little Evergreen that lives here. You got your heavy coat out yet? It's getting colder.</p>
